<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        #page-container {
            position: relative;
            min-height: 100vh;
        }

        #content-wrap {
            padding-bottom: 2.5rem;
            /* Footer height */
        }

        #footer {
            background-color: black;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 7.5rem;




            /* Footer height */
        }

        .mycenter {
            margin: auto;
            width: 50%;
            padding: 10px;
        }

        .myfooter {
            margin: auto;
            width: 30%;
            padding: 10px;
            
        }
    </style>
</head>

<body>



    <body>
        <div id="page-container">
            <div id="content-wrap">

                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Certificate Generator</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li><a href="#">About Us</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">

                            <li><a href="/#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="/#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>

                    </div>
                </nav>